body {background-color: #d0d0d0}
h1 {font: bold 110% arial}
h2 {font: bold 100% arial}
div { background-color: #f0f0f0;}
.instr {border: solid; border-color: #a0a0a0}
.asdf {background-color: #000000, position: absolute;bottom:1px}
#oscs {position:relative; height: 300px; width: 570px}
#osc1 {position: absolute;left:1px; width:270px}
#osc2 { position:absolute; left:275px; width:270px}
#filters {position:relative; width:570px}
#filter1 {width: 540px}
#gain {width: 200px}
